.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads
public/assets/fonts
src/components.d.ts
.vscode/
src/typed-router.d.ts
src/auto-imports.d.ts
pnpm-lock.yaml
